/cmake-build-debug
/cmake-build-release

/resources/models/models_2023/
/resources/skybox/kloppenheim_02_4k.exr
/resources/skybox/5 Night Skyboxes v1.0.unitypackage
/resources/skybox/sky.zip
/resources/skybox/skybox.zip
/resources/skybox/sky/skydome.blend
